<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="padrao :: head">
        <title>Visualizar</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script>
//            function inicia() {
//                const texto = document.getElementById("inputTexto");
//                for (let t in texto) {
//                    var div = document.getElementById("divTexto")
//                    var p = document.createElement(p);
//                    p.textContent(texto[t]);
//                    div.appendChild(p);   
//                }
//            }
//            window.addEventListener("load", inicia);
        </script>

    </head>

    <body>
        <div th:replace="padrao :: menu"/>
        <div style="margin-left: 20%; margin-top: 50px; width: 1100px" th:object="${noticia}" >
            <a th:href="@{${noticia.url}}" target="_blank">Clique aqui e acesse a noticia original</a>
            <h1 style="margin-bottom: 25px"> <span th:text="*{titulo}"></span></h1>
            <p style="font-size: 25px"> <span th:text="*{subtituloCabecalho}"></span></p>

            <div>
                <div style="font-weight: bold">
                    Por 
                    <span th:text="*{autor}"></span>
                </div>
                <div>
                    Em 
                    <span th:text="*{dataPublicacao}"></span>
                </div>
            </div>

            <p/>
            <div  id="divTexto">
                <input id="inputTexto" type="hidden" th:value="*{textoCompleto}" >     
            </div>
            <div style="font-size: 20px; margin-top: 5%">
                <p><span  th:text="*{textoCompleto}"/></p>
            </div>
        </div>
    </body>
</html>
